@model IEnumerable<BlueBadge.Data.Meal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MealKindID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealKindID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MealID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MealID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MealID })
        </td>
    </tr>
}

</table>
