@model IEnumerable<BlueBadge.Data.RecipeType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dietary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dietary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecipeKind }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecipeKind }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecipeKind })
        </td>
    </tr>
}

</table>
